.background {
  background-color: #f8f9fa; /* light gray background */
  min-height: 100vh; /* full height */
  display: flex;
  flex-direction: column;
}

.Navbar {
  margin-bottom: 20px;
}

h1 {
  color: #343a40; /* dark gray */
}

p {
  color: #6c757d; /* gray */
}

img {
  margin-right: 10px;
}
